* {
    font-family: 'Noto Sans JP';
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 7vh !important;
    font-size: 20px;
}

body {
    background-color: rgb(74, 0, 143, 0.06) !important; 
}

.purple-gradient {
    background: linear-gradient(to bottom right, #5700a8, #2a015f);
}

#splash-section {
    /*background-color: #4A008F;*/
    /*background: linear-gradient(to bottom right, #6D0EB2, #2D0CB5);*/
    min-height: 60vh;
    display: flex;
    align-items: flex-end;
}

#splash-container {
    text-align: center;
    padding: 50px;
}

#see-classes-btn {
    margin-top: 70px;
    margin-bottom: 40px;
    transition: all 0.5s;
}

#see-classes-btn:hover {
    transform: scale(1.03)
}

#classes-section {
    background-color: #4A008F;
}

#future-classes-section {
    background-color: rgb(74, 0, 143, 0.06);

}

.classes-container {
    padding: 50px;
    padding-bottom: 70px;
    width: 70%;
}

.class-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 15px 15px 10px rgb(74, 0, 143, 0.06) /*#e6e6e6*/;
    margin: 20px;
}

@media only screen and (max-width: 768px) {
    .class-card {
        background-color: white;
        border-radius: 15px;
        box-shadow: 15px 15px 10px #e6e6e6;
        margin: 20px;
        margin-bottom: 40px;
    }
}

.no-shadow {
    box-shadow: none;
}

.column {
    padding: 0px !important;
    transition: all 0.3s;
}

.column:hover {
    transform: scale(1.02)
}

.class-card-title {
    color: white;
    padding: 20px 20px 20px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.class-card-description {
    background-color: white;
    color: black;
    padding: 25px 20px 20px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.class-card-description i {
    color: rgb(177, 177, 177);
    margin-right: 15px;
}

.description-icon-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.more-info-btn-div {
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;
    color: #4A008F;
}

.more-info {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    display: none;
    color: black
}

.more-info-btn {
    background: transparent;
    border: none;
    transition: transform 0.3s;
}

.more-info-btn:hover {
    transform: translate(0px, 3px);
}

.more-info-btn-active {
    transform: rotate(180deg);
}

#reviews-section {
    background-color: rgb(74, 0, 143, 0.06);
    padding: 70px 100px 80px 100px;
}

#reviews-container {
    padding: 50px 100px 70px 100px;
    border-radius: 30px;
    background: linear-gradient(to bottom right, #fc326e, #c0003a);
    opacity: 80%;
}

#reviews-container .column {
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    #reviews-container {
        padding: 25px 60px 35px 60px;
    }

    #reviews-container .column {
        margin-left: 0%;
        margin-bottom: 15%;
    }

    #reviews-section {
        padding: 70px 10% 80px 10%;
    }
}

#reviews-container .column p {
    width: 100%;
    text-align: center;
}

#carousel-container {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

@media only screen and (max-width: 768px) {
    #carousel-container {
        display: none;
    }
}

#quotes-carousel {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#quotes-carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    color: white;
    font-style: italic;
    display: inline-block;
    width: 100%;
    white-space: normal;
    text-align: center;
}

#carousel-container i {
    transition: all 0.3s;
}

#carousel-container i:hover {
    transform: scale(1.25)
}

.sign-up-btn {
    margin-right: 20px;
    margin-bottom: 20px;
}

iframe {
    width: 50%
}

@media only screen and (max-width: 768px) {
    iframe {
        width:  80%
    }
}

.footer a {
    color: white !important;
}

.footer a:hover {
    color: #FCA301 !important;
}

.is-beginner {
    background: linear-gradient(to bottom right, #00eccd, #00b68b);
}

.is-intermediate {
    background: linear-gradient(to bottom right, #FCA301, #fc6e01);
}