html {
    scroll-behavior: smooth;
}

nav {
    height: 70px !important;
    font-size: 20px;
}

#splash-section {
    background-color: #4A008F;
    min-height: 60vh;
    display: flex;
    align-items: flex-end;
}

#splash-container {
    text-align: center;
    padding: 50px;
}

#classes-section {
    background-color: rgb(74, 0, 143, 0.06);
}

#future-classes-section {
    background-color: #4A008F;
}

.classes-container {
    padding: 50px;
    padding-bottom: 100px;
    width: 70%;
}

.class-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 15px 15px 10px #e6e6e6;
    margin: 20px;
}

.no-shadow {
    box-shadow: none;
}

.column {
    padding: 0px !important;
}

.class-card-title {
    color: white;
    padding: 20px 20px 20px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.class-card-description {
    background-color: white;
    color: black;
    padding: 20px 20px 20px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.more-info-btn-div {
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;
    color: #4A008F;
}

.more-info {
    margin-left: 30px;
    margin-bottom: 20px;
    display: none;
}

.more-info-btn {
    background: transparent;
    border: none;
}

.sign-up-btn {
    margin-right: 20px;
    margin-bottom: 20px;
}
